#p-help,
#p-sidebar-categoryindex,
#siteSub,
#t-collapsible-toggle-all,
#feedlinks,
#t-print {
    display: none;
}

.vector-main-menu-action.vector-main-menu-action-opt-out {
    display: none;
}

.mw-body-content h2,
h1#firstHeading {
    font-family: "SHSerif Full-Width Quotation", "Source Serif 4", serif !important;
}